<!doctype html>
<html>
<head>
    <title>Number cruncher</title>
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, max-age=0">
    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <!-- AngularJS -->
    <script src="http://code.angularjs.org/1.2.7/angular.min.js"></script>
    <!-- Bootstrap -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- D3 and AngularJS D3 support -->
    <script src="assets/js/d3.core.js"></script>
    <script src="assets/js/d3.directives.js"></script>
    <script src="assets/js/d3.line.directives.js"></script>
    <!-- App code -->
    <script src="assets/js/numbers.app.js"></script>
    <script src="assets/js/line.app.js"></script>
    <script src="assets/js/numbers.directives.js"></script>
    <script src="assets/js/line.directives.js"></script>
    <!-- Styles -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="assets/css/main.css" rel="stylesheet"/>
    <script>var rootApp = angular.module('rootApp', ['numbers.app','line.app'])</script>
</head>
<body ng-app="rootApp">
  <div id="BarChart" ng-app="numbers.app" ng-controller="NumbersCtrl">
    <div>
   <!--    <input type="text" ng-model="expression" size="80" placeholder="{evendistr 25 [0..100]} forever every 1000ms"/> -->
        <button ng-click="executeExpression()" class="btn-primary">Execute</button>
        <button ng-click="stop()" ng-show="running" class="btn-danger">Stop</button>
    </div>
    <tabs>
        <pane title="Raw">
            <h3>Raw data</h3>
            <pre><code>{{numbers}}</code></pre>
        </pane>
        <pane title="Canvas">
            <h3>Visual representation</h3>
            <barchart2d data="{{numbers}}"/>
        </pane>
        </tabs>
        </div>
</br>
</br>
        <div id="LineChart" ng-app="line.app" ng-controller="LineCtrl">
		    <div>
		 <!--      <input type="text" ng-model="expression" size="80" placeholder="{evendistr 25 [0..100]} forever every 1000ms"/> -->
		        <button ng-click="executeExpression()" class="btn-primary">Execute</button>
		        <button ng-click="stop()" ng-show="running" class="btn-danger">Stop</button>
		    </div>
		    <tabs>
		        <pane title="Raw">
		            <h3>Raw data</h3>
		            <pre><code>{{numbers}}</code></pre>
		        </pane>
	        <pane title="LineCanvas">
		            <h3>Visual representation</h3>
		            <linechart2d data="{{numbers}}"/>
        </pane>
    </tabs>
</div>
</body>
</html>
